.search-box .suggestion a .suggestion-row div.page-title {
    background: inherit;
}

@media (max-width: 419px) {
    .search-box ul.suggestions {
        min-width: unset;
    }
}

@media (max-width: 719px) {
    .search-box ul.suggestions {
        min-width: unset;
        width: calc(100vw - 4rem);
    }
}

.search-box ul.suggestions {
    max-height: calc(60vh);
    overflow-y: auto;
}
